#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/architecture.mk

export DEB_CXXFLAGS_MAINT_APPEND += -fexcess-precision=fast

%:
	dh $@

override_dh_autoreconf-indep:
override_dh_auto_configure-indep:
	@# nothing

override_dh_auto_configure-arch:
	dh_auto_configure -- --disable-silent-rules --with-boost-libdir=/usr/lib/$(DEB_HOST_MULTIARCH) --enable-static

override_dh_auto_build-indep:
	cd doc && \
		doxygen doxygen.conf && \
		mkdir tmp && sphinx-build -v -a . tmp

override_dh_auto_test-arch:
	PYTHONPATH="$(CURDIR)/src/python/.libs" dh_auto_test

override_dh_missing:
	rm -f debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libixion-0.18.la
	dh_missing

override_dh_makeshlibs:
	# ImportError: /lib/x86_64-linux-gnu/liborcus-spreadsheet-model-0.18.so.0: undefined symbol: _ZN5ixion12print_configD1Ev
	dh_makeshlibs -VUpstream-Version

override_dh_installdocs:
	# Ignore Policy v3.9.7 §12.3 for now
	dh_installdocs -plibixion-doc --doc-main-package=libixion-doc
	dh_installdocs --remaining-packages
